body { padding: 0px; margin: 0px; background: url("../images/dark-grey-tile.jpg");}

h1, h2, p, a { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #353535; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);}

p { line-height: 1.5em;}

hr { clear: both; visibility: hidden; margin: 0px;}

.wrapper { width: 940px; margin: 0px auto;}

/*HEADER STYLES*/
#header { height: 140px; border-bottom: solid 1px #898989;}

#name { position: relative; width: 335px; float: left;}
#name h1 { position: relative; font-size: 45px; text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.4); z-index: 10;}
#name img { position: absolute; top: 0px; left: -125px; z-index: 1;}

#contact { float: right; margin-top: 40px; position: relative;}
#contact .contact-link { display: inline; margin-left: 15px; position: relative;}
#contact .contact-link .selected { position: absolute; bottom: 5px; left: 0px; opacity: 0;}
#mobile-window { position: absolute; overflow: hidden; width: 98px; height: 25px;}
#mobile-window p { margin: 7px 0px 0px -98px; width: 98px; position: absolute;}

#nav { float: right; margin-top: 15px;}
#nav .nav-link { display: inline; margin-left: 10px; position: relative;}
#nav .nav-link .selected { position: absolute; bottom: 5px; left: 0px; opacity: 0;}


#main-content { background: url("../images/lite-grey-tile.jpg"); border-bottom: solid 1px #898989; border-top: solid 1px #dadada; padding: 30px 0px;}
#main-content.project-page { padding-bottom: 0px;}

/*ABOUT PAGE STYLES*/
#main-content .profile-image { margin: 0px 0px;}
#main-content .profile-image img { border: solid 1px #b7b7b7; clear: both; margin: 15px;}
#main-content .border { background: rgba(255, 255, 255, 0.2); border: solid 1px #aeaeae; float: left;}

#profile-text { margin-left: 20px; float: left; width: 580px;}
#profile-text :first-child { margin-top: 0px;}
#profile-text span { font-size: 25px;}

/*WORK PAGE STYLES*/
.project-tab { text-decoration: none; background: #f2f2f2; float: left; border: solid 1px #989898; margin: 0px 14px 14px 0px; 
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);}
.project-tab img { border: solid 1px #bbb; margin: 15px 15px 5px;}
.project-tab h2 { font-size: 20px; color: #00b0d4; margin: 0px; text-align: center;}
.project-tab p { font-style: oblique; font-size: 12px; text-align: center; margin-top: 5px;}
.project-tab.last { margin-right: 0px;}

/*PROJECT PAGE STYLES*/
#project-nav { /*border-bottom: solid 1px #898989;*/ border-top: solid 1px #dadada; position: relative; padding-top: 10px;}
#project-nav a { text-decoration: none; font-weight: bold; font-size: 16px; color: #7b7b7b; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
#previous-project { padding: 4px 10px 8px 32px;}
#previous-project:hover { color: #fff; padding: 4px 10px 8px 32px; background: #00b0d4 url('../images/previous-project-button-icon.png') no-repeat 3px 3px;}

#next-project { padding: 4px 34px 8px 10px; float: right; position: relative; bottom: 4px;}
#next-project:hover { color: #fff; padding: 4px 34px 8px 10px; background: #00b0d4 url('../images/next-project-button-icon.png') no-repeat 105px 3px;}

#project-content {/* border-top: solid 1px #dadada;*/ border-bottom: solid 1px #898989; padding-bottom: 35px;}
#project-content .project-screenshot { float: left;}
#project-content img { border: solid 1px #b7b7b7; clear: both; margin: 15px;}
#project-text { width: 306px; float: left; margin-right: 20px;}
#project-text h2 { margin-top: 0px; line-height: .75em;}



#footer { border-top: solid 1px #dadada; min-height: 140px;}

